/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body{
    font-family: "DM Sans", sans-serif;
    background-color: #F1F1F1;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: #414141;
}

header {
    background-color: #ffffff;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 40px;
}

main {
    display: flex;
    flex-direction: row;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile p {
    margin-right: 16px;
}

.avatar {
    background-color: #555;
    color: white;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.profile-info {
    height 100vh;
    width: 30%;
    min-width: 320px;
    max-width: 400px;
    padding: 40px;
    position: sticky;
    overflow-y: auto;
    background-color: #FCFCFC;
}

.profile-info img {
    width: 100%;
}

.posts {
    flex: 1;
    padding: 24px;
    height: 100vh;
    overflow-y: auto;
}

h3 {
    font-size: 12px;
    text-transform: lowercase;
    padding-top: 16px;
}

img {
    border-radius: 8px;
}

.posts img {
    width: 100%;
    margin-bottom: 24px;
}

a, a.visited, a.active, a.hover {
    color: #414141;
}